<button class="btn" data-module="customevent" data-target=".bubble">Event</button>
{% for item in items %}
  <div class="{{ item.class }}" data-color="{{ item.color }}" data-position-x="{{ item.position.x }}" data-position-y="{{ item.position.y }}"></div>
{% endfor %}