.example {

  .example__text {
    font-family: sans-serif;
  }

  .example__image {
    width: 200px;
  }

  .example__avatar {
    width: 100px;
  }
}

.contacts-wrapper {
margin: 0 auto;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  margin: 32px 8px;
  text-align: center;

  .contact-card {
    flex: 1 1 auto;
    max-width: 200px;
    padding: 8px;
    margin: 8px;
    background-color: lightgray;
    border-radius: 4px;
    transition: all 250ms ease-in-out;

    &--active {
        transform: perspective(100px) rotate(45deg) scale(120%) translate3d(-40px, 40px, 2px);
        background-color: rgb(224, 159, 230);
        z-index: 10;
      }

    @media(max-width: 210px){
      max-width: 90%;
      margin: 8px auto;
    }
    
    .contact-card__avatar {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      object-fit: cover;

      @media(max-width: 210px) {
        width: 50px;
        height: 50px;
      }
    }

    .contact-card__name {
      font-size: 14px;
      margin: 8px;
    }

    .contact-card__mail {
      margin: 0 8px;
      font-size: 12px;
      word-break: break-word;
    }
  }
}
