.mousefollow__wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;

    .mousefollow{
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: coral;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        transition: all 250ms linear;
    }
}